identityutils @ git+https://github.com/eoepca/um-identity-service@v1.0.10
notebook
awscli==1.29.68
boto3==1.28.68
bs4==0.0.1
eoepca-scim==2.8.1
folium==0.14.0
geolinks==0.2.3
ipyleaflet==0.17.4
jsonschema==4.25.1
lxml==6.0.2
matplotlib==3.10.0
OWSLib==0.35.0
PyYAML==6.0.3
pyjwkest==1.4.2
pystac-client==0.9.0
rauth==0.7.3
robotframework==6.1.1
tifffile==2023.9.26
WellKnownHandler==0.2.0
python-keycloak==3.2.0
rasterio==1.4.4
PyJWT==2.10.1
kubernetes==32.0.1
pyarrow==20.0.0
fastparquet==2024.11.0
stac-geoparquet==0.7.0