boto3==1.17.53
eoepca-scim==2.7.4
lxml==4.6.3
pycrypto==2.6.1
pyjwkest==1.4.2
robotframework==3.2.2
WellKnownHandler==0.2.0
OWSLib @ git+git://github.com/geopython/OWSLib@c12ec269fffd222accea513d5b3bd25a3b83d2aa
pyops @ git+git://github.com/EOFarm/pyops@4b53b097d098e880605056f0bcad8ca7993a2c62
folium==0.12.1
geolinks==0.2.0
bs4==0.0.1
pystac-client==0.2.0
jsonschema==3.2.0
tifffile==2021.4.8
awscli==1.19.53
rauth
